# Distribution / packaging
.vscode
__pycache__/
*.pyc
.idea/
db.sqlite3
.DS_Store
.pytest_cache
htmlcov/
.coverage
.coveragerc
db.sqlite3
.tox
venv
staticfiles
.editorconfig
migrations/
.env
src/Pipfile
src/schema.graphql
src/schema.json
deploy.sh
src/media/languages/
http:/
staticfiles/
pushing.txt
dump.rdb
question_and_replies.txt